.App {
  position: fixed;
  background-color: #000000;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: rgb(209, 212, 158);
  text-align: center;
}

.clockbackground {
  position: fixed;
  background-color: #000000;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  color: rgb(209, 212, 158);
  text-align: center;
}



.svgbox{
  position: relative;
  top:6%;
  background-color: rgb(1, 1, 20);
  border-radius: 15%;
  border:rgb(151, 8, 8)
}
.svgbborderbox{
  position: absolute;
  background: linear-gradient(135deg,rgb(241, 52, 5), rgb(58, 78, 253),rgb(250, 246, 4),#f806ec,rgb(2, 247, 255));
  border-radius: 15%;
  
  width:640px;
  height:285px;
  z-index: 0;
  animation: animate 2.6s linear infinite;
}

.alarmbutton{
  position: absolute;
  top:88%;
  left:17%;
  width: 31.5%;
  height: 6%;
  z-index: 3;
  background-color:transparent;
}
.Timerbutton{
  position: absolute;
  top:88%;
  left:52%;
  width: 31.5%;
  height: 6%;
  z-index: 3;
  background-color: transparent;
}
.alarmindicatorOffstyle{
  position: absolute;
  top:20%;
  left:10%;
  width: 9%;
  height: 27%;
  z-index: 2;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(58, 3, 3),rgb(250, 6, 6), rgb(107, 4, 4));
 
  border: rgb(82, 79, 79);
  border-style: solid;
  border-width: 1px;
}
.alarmindicatorOnstyle{
  position: absolute;
  top:20%;
  left:10%;
  width: 9%;
  height: 27%;
  z-index: 2;
  border-radius: 50%;
  background-image: linear-gradient(to right, rgb(8, 56, 4),rgb(11, 240, 11), rgb(1, 20, 1));
  border: rgb(82, 79, 79);
  border-style: solid;
  border-width: 1px;
}
#alarmboxcontainer{
  height:0px;
  width:0px;
  left: 0%;

}

.alarmboxdetail{
  height:100%;
  position: relative;
  border-radius: 45px;
  z-index: 100;
  top: 10px;
  right:0;
  background-image: linear-gradient(to right, rgba(255, 238, 0, 0.678), rgb(139, 36, 108));
  text-align: center;
  
  overflow-x: hidden;
  transition: 2s;
  padding-top:2px;
  margin-left: 0px;
 
}
#Timerboxcontainer{
  height:0px;
  width:0px;
  left: 0%;

}

.Timerboxdetail{
  height:100%;
  position: relative;
  border-radius: 45px;
  z-index: 100;
  top: 10px;
  right:0;
  background-image: linear-gradient(to right, rgba(255, 238, 0, 0.678), rgb(139, 36, 108));
  text-align: center;
  
  overflow-x: hidden;
  transition: 2s;
  padding-top:2px;
  margin-left: 0px;
 
}
.Closebutton{
  top: 5%;
  padding-top: 2%;
  left: 41%;
  position: absolute;
  width: 20%;
  height: 15%;
  background-color: black;
  align-content: center;
  font-size: 35px;
  border-radius: 20px;
}
.incrementhrbutton{
  position: absolute;
  top:25%;
  font-size: 35px;
  left:10%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.hour{
  position: absolute;
  padding-top: 2%;
  top:43%;
  font-size: 35px;
  left:8%;
  width: 23%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(139, 79, 9);
}
.decrementhrbutton{
  position: absolute;
  top:61%;
  font-size: 35px;
  left:10%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  font-weight: 900;
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.min{
  position: absolute;
  padding-top: 2%;
  top:43%;
  font-size: 35px;
  left:39%;
  width: 25%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(139, 79, 9);
}

.timerseconds{
  position: absolute;
  padding-top: 2%;
  top:43%;
  font-size: 35px;
  left:71%;
  width: 23%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(139, 79, 9);
}


.incrementminbutton{
  position: absolute;
  top:25%;
  font-size: 35px;
  left:42%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.decrementminbutton{
  position: absolute;
  top:61%;
  font-size: 35px;
  font-weight: 900;
  left:42%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.incrementampmbutton{
  position: absolute;
  top:25%;
  font-size: 35px;
  left:73%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.AMPMSETTING{
  position: absolute;
  top:43%;
  font-size: 35px;
  left:71%;
  width: 23%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(139, 79, 9);
}
.decrementampmbutton{
  position: absolute;
  top:61%;
  font-size: 35px;
  left:73%;
  width: 18%;
  height: 18%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(32, 112, 18);
}
.starttimerbutton{
  position: absolute;
  padding-top: 2%;
  top: 81%;
  left: 8%;
  font-size: 35px;
  
  width: 22%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(22, 59, 16);
}

.stoptimerbutton{
  position: absolute;
  padding-top: 2%;
  top: 81%;
  left: 38%;
  font-size: 35px;
  
  width: 22%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(251, 5, 5);
}
.resettimerbutton{
  position: absolute;
  padding-top: 2%;
  top: 81%;
  left: 67%;
  font-size: 35px;
  
  width: 25%;
  height: 16%;
  border-radius: 20px;
  
  
  align-content: center;
  
  background-color: rgb(5, 42, 251);
}

.switchcontainer {
  position: absolute;
  display: inline-block;
  width: 35%;
  height: 18%;
  top: 81%;
  left: 32%;
  right: 0;
  bottom: 0;
  border-radius: 45px;
}
switch {
  position: absolute;
  display: inline-block;
  width: 35%;
  height: 18%;
  top: 81%;
  left: 32%;
  right: 0;
  bottom: 0;
  border-radius: 22px;
  
}

.switch input {
  border-radius: 22%;
  display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  align-content: center;
  text-align: center;
  background-color: rgb(109, 5, 5);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 22px;
}

.slider:before {
  position: absolute;
  content: "off";
  align-content: center;
  border-radius: 23px;
  font-size: 35px;
  height: 90%;
  width: 60%;
  left: 4px;
  bottom: 4px;
  background-color: rgb(248, 4, 4);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #012e01;
  
}

input:focus + .slider {
  box-shadow: 0 0 1px #012e01;
 
}

input:checked + .slider:before {
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  background-color: rgb(4, 248, 45);
  content: "on";
}

@keyframes animate{
  100%{
    filter: hue-rotate(360deg);
  }
 
}


@media only screen and (max-width: 360px){
  .alarmbutton{
    position: absolute;
    top:80.5%;
    left:17%;
    width: 29.5%;
    height: 4.5%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:80.5%;
    left:51%;
    width: 29.5%;
    height: 4.5%;
    z-index: 3;
  
  }
  .alarmindicatorOffstyle{
    position: relative;
    top:20%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
    position: relative;
    top:20%;
    left:10%;
   
  }
}

@media only screen and (max-width: 376px){
 
  .alarmindicatorOffstyle{
    position: relative;
    top:20%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
    position: relative;
    top:20%;
    left:10%;
   
  }
}
@media only screen and (max-width: 375px){
  .alarmbutton{
    position: absolute;
    top:87.5%;
    left:17%;
    width: 29.5%;
    height: 5.5%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:87.5%;
    left:51%;
    width: 29.5%;
    height: 5.5%;
    z-index: 3;
  
  }
  .alarmindicatorOffstyle{
    position: relative;
    top:15%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
    position: relative;
    top:15%;
    left:10%;
   
  }
}

@media only screen and (max-width: 414px) {
  .svgbborderbox{
    position: absolute;
  background: linear-gradient(135deg,rgb(241, 52, 5), rgb(58, 78, 253),rgb(250, 246, 4),#f806ec,rgb(2, 247, 255));
  border-radius: 15%;
  
  
  height:98%;
    width:98%;
   
  }
  .svgbox {
   
    top:3%;
  }
  .alarmindicatorOffstyle{
    position: relative;
    top:1%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
    position: relative;
    top:1%;
    left:10%;
   
  }
}
@media only screen and (min-width: 567px){
 
  .alarmindicatorOffstyle{
   
    top:50%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
   
    top:50%;
    left:10%;
   
  }
}


@media only screen and (min-width: 640px){
  .alarmbutton{
    position: absolute;
    top:69%;
    left:10%;
    width: 16.5%;
    height: 10%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:69%;
    left:72.5%;
    width: 13.5%;
    height: 10%;
    z-index: 3;
  
  }
  .alarmindicatorOffstyle{

    top: 20%;
    left:15%;
   
  }
  .alarmindicatorOnstyle{
   
    top: 20%;
    left:15%;

   
  }
}

@media only screen and (min-width: 667px){

  .alarmindicatorOffstyle{
   
    top: 20%;
    left:26%;
   
  }
  .alarmindicatorOnstyle{
   
    top: 20%;
    left:26%;
   
  }
  
}

@media only screen and (min-width: 736px){
  .alarmbutton{
    position: absolute;
    top:66%;
    left:16%;
    width: 13.5%;
    height: 10%;
    z-index: 3;
   
  }
  .Timerbutton{
    position: absolute;
    top:66%;
    left:69.8%;
    width: 13.5%;
    height: 10%;
    z-index: 3;
  
  }
  .alarmindicatorOffstyle{
   
    top: 20%;
    left:12%;
   
  }
  .alarmindicatorOnstyle{
   
    top: 20%;
    left:12%;
   
  }
}

@media only screen and (min-width: 768px){
  .alarmbutton{
    position: absolute;
    top:57%;
    left:17%;
    width: 13.5%;
    height: 3%;
    z-index: 3;
   
  }
  .Timerbutton{
    position: absolute;
    top:57%;
    left:69.8%;
    width: 13.5%;
    height: 3%;
    z-index: 3;
  
  }
}
@media only screen and (min-width: 1024px){
  .alarmbutton{
    position: absolute;
    top:59%;
    left:26%;
    width: 9%;
    height: 5%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:59%;
    left:64.8%;
    width: 9%;
    height: 5%;
    z-index: 3;
  
  }
  .alarmindicatorOffstyle{
   
    top: 42%;
    left:10%;
   
  }
  .alarmindicatorOnstyle{
   
    top: 42%;
    left:10%;
   
  }
}
@media only screen and (min-width: 1280px){
  .alarmbutton{
    position: absolute;
    top:59%;
    left:30.5%;
    width: 8%;
    height: 4.2%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:59%;
    left:61.8%;
    width: 7%;
    height: 4.2%;
    z-index: 3;
  
  }
}
@media only screen and (min-width: 1440px){
  .alarmbutton{
    position: absolute;
    top:58%;
    left:32.5%;
    width: 7%;
    height: 4.2%;
    z-index: 3;
    
  }
  .Timerbutton{
    position: absolute;
    top:58%;
    left:60%;
    width: 7%;
    height: 4.2%;
    z-index: 3;
  
  }
}
@media only screen and (min-width: 1520px){
  .alarmbutton{
    position: absolute;
    top:59%;
    left:34.5%;
    width: 6%;
    height: 4.2%;
    z-index: 3;
   
  }
  .Timerbutton{
    position: absolute;
    top:59%;
    left:59%;
    width: 7%;
    height: 4.2%;
    z-index: 3;
  
  }
}




